<ion-view title="Bill">
    <ion-content padding="true" scroll="false" class="has-header">
        <form class="list">
            <div class="list">
                <!-- BILL BEFORE TAX -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Amount</span>
                    <input type="number" placeholder="bill before tax (e.g. 100.00)" ng-model="bill.totalAmount" ng-change="calculateGrandTotal(bill)" required>
                </label>
                <!-- VAT -->
                <label class="item item-stacked-label">
                    <span class="input-label">VAT: {{bill.vat}} %</span>
                    <div class="range range-positive">
                        <input type="range" name="vat" min="0" max="10" placeholder="VAT" ng-model="bill.vat" ng-change="calculateGrandTotal(bill)">
                    </div>
                </label>
                <!-- SERVICE CHARGE -->
                <label class="item item-stacked-label">
                    <span class="input-label">Service Charge: {{bill.serviceCharge}} %</span>
                    <div class="range">
                       <input type="range" name="serviceCharge" min="0" max="20" placeholder="service charge (e.g. 5.00)" ng-model="bill.serviceCharge" ng-change="calculateGrandTotal(bill)">
                    </div>
                </label>
            </div>
        </form>
        <div>
          <p>VAT : {{bill.vatAmount | currency : '฿'}}</p>
          <p>Service chage : {{bill.serviceChargeAmount | currency : '฿'}}</p>
        </div>
        <div>
            <p>
                <strong>GRAND TOTAL</strong>
            </p>
        </div>
        <div>
            <p>{{bill.grandTotal | currency : '฿'}}</p>
        </div>
        <a href="#/shares" class="button button-energized button-block ion-chevron-right" ng-click="addBill(bill, $event);">Next</a>
    </ion-content>
</ion-view>
