<ion-view title="dishes">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="dishName">
                <input type="text" placeholder="dish's name">
            </label>
            <label class="item item-input" name="dishPrice">
                <input type="text" placeholder="dish's price">
            </label>
        </form>
        <form class="list">
          <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox">
          </label>
          Mr.John
          </li>
          <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox">
          </label>
          Ms. Jane
          </li>
        </form>

        <button class="button button-stable button-block ">add/update</button>
        <a href="#/options" class="button button-stable button-block ">next</a>
        <div>
            <p>
              <strong>Split the rest</strong>
              THB 100.00
            </p>
        </div>

        <div class="card" ng-repeat="dish in dishes">
          <div class="item item-divider item-icon-right" >
            <div class="icon">
            <span class="ion-edit"></span>
            &nbsp;
            <span class="ion-close"></span>
          </div>
            {{dish.name}} / {{dish.price}}
          </div>
          <div class="item item-text-wrap">
            <div class="list">
              <a class="item item-icon-left" href="#" ng-repeat="person in dish.people">
                <i class="icon ion-person"></i>
                {{person.name}}
              </a>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
