<ion-view title="dishes">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="dishName">
                <input type="text" placeholder="dish's name">
            </label>
            <label class="item item-input" name="dishPrice">
                <input type="text" placeholder="dish's price">
            </label>
        </form>
        <form class="list">
          <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox">
          </label>
          Mr.John
          </li>
          <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox">
          </label>
          Ms. Jane
          </li>
        </form>
        <button class="button button-stable button-block ">add/update</button>
        <a href="#/pay" class="button button-stable button-block ">next</a>
        <div>
            <p>
              <strong>Split the rest</strong>
              THB 100.00
            </p>
        </div>

        <div class="list card">
          <a href="#" class="item item-icon-right">
            <span>John Doe</span>
            <span>- 50.00</span>
            <i class="icon ion-ios-close"></i>
          </a>

          <a href="#" class="item item-icon-right">
            <span>Jane Smith</span>
            <span>- 50.00</span>
            <i class="icon ion-ios-close"></i>
          </a>

          </div>
        </div>
    </ion-content>
</ion-view>
