<ion-view title="dishes">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="dishName">
                <input type="text" placeholder="dish's name">
            </label>
            <label class="item item-input" name="dishPrice">
                <input type="text" placeholder="dish's price">
            </label>
        </form>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="who share?">
            </label>
        </form>
        <button class="button button-stable button-block ">add/update</button>
        <a href="#/pay" class="button button-stable button-block ">next</a>
        <div>
            <p>
                <strong>Split the rest</strong>
                THB 100.00</p>

            <ul>
              <li ng-repeat="dish in dishes">
                {{dish.name}} / {{dish.price}}
              </li>
            </ul>
            <hr/>
            <ul>
              <li ng-repeat="person in people">
                {{person.name}}
              </li>
            </ul>

        </div>
    </ion-content>
</ion-view>
