<ion-view title="options">
    <ion-content padding="true" scroll="false" class="has-header">
	    <div class="centered text-center">
		   	<div style="width:50%" class="centered">
	    		<a href="#/dishes" class="button button-stable button-block " ng-click="options('E');">share equally</a>
	    	</div>
	    </div>
	   	<div class="centered text-center">
		   	<div style="width:50%" class="centered">
		   		<a href="#/dishes" class="button button-stable button-block " ng-click="options('S');">share by item</a>
		   	</div>
		</div>		
	   	<div class="centered text-center">
			<img ng-src="img/ionic.png" />
		</div>
    </ion-content>

</ion-view>
