<ion-view title="pay">
    <ion-content padding="true" class="has-header">
    	<div class="list card">
   			<div ng-repeat="x in people">
				<div class="item item-divider" ng-click="view($event, team);">
					<h2>{{x.name}}</h2>
					<strong style="float: right;">{{x.payAmount}}</strong>
				</div>
				<div class="item item-text-wrap hidden detailPanel">
					{{x.detail}}
				</div>
			</div>
			<div>
				<div class="item item-divider">
					<h2>Total</h2>
					<strong style="float: right;"></strong>
				</div>
				<div class="item item-text-wrap">
					{{x.detail}}
				</div>
			</div>
       </div>
        <ion-list></ion-list>
        <a href="#/bill" class="button button-stable button-block  icon ion-android-sync">start all over</a>
    </ion-content>
</ion-view>