<ion-view title="Shares" cache-view="false">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input-inset" name="shareName">
                <img ng-src="img/people.png">
                <input type="text" placeholder="share's name" ng-model="people.name" maxLength="50">
            </label>
        </form>
        <button class="button button-balanced button-block ion-plus-circled" ng-click="addPeople(people);"> Add</button>

        <div class="card" ng-show="canShow()">
          <div class="item item-divider item-icon-right" >
            <div class="icon">
          </div>
            People
          </div>
          <div class="item item-text-wrap">
            <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
              <ion-item ng-repeat="item in list">
                <span>{{item.name}}</span>
                <ion-option-button class="button-assertive"
                                   ng-click="deletePeople($index)">
                  Delete
                </ion-option-button>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <a href="#/options" class="button button-energized button-block ion-chevron-right" ng-click="validatePeople($event)"> Next</a>
    </ion-content>
</ion-view>
