<ion-view title="shares">	
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="shareName">
                <input type="text" placeholder="share's name" ng-model="people.name" maxLength="50">
            </label>
        </form>
        <button class="button button-stable button-block " ng-click="addPeople(people);">add</button>

        <div class="card" ng-show="canShow()">
          <div class="item item-divider item-icon-right" >
            <div class="icon">
          </div>
            People
          </div>
          <div class="item item-text-wrap">
            <div class="list">
              <a class="item item-icon-right" href="#" ng-repeat="item in list" >
                <i class="icon ion-close" ng-click="deletePeople($index)"></i>
                {{item.name}}
              </a>
            </div>
          </div>
        </div>

        <a href="#/options" class="button button-stable button-block" ng-show="canShow()">next</a>
    </ion-content>
</ion-view>
