/* Empty. Add your own CSS if you like */


.hidden {
	display: none;
}

.clear {
	clear: both;	
}

.card .item-divider.item-icon-right .icon span {
	font-size : 0.6em;
}

.container {
    display: block;
    text-align: center;
    vertical-align: middle;
}

.centered{
    margin: 0 auto;
}

.item.item-divider.custom {
	border-top: 1px solid rgb(221, 221, 221);
}

.custom.total {
	border-color: black;
	font-weight: bold;
	color: white;
	background-color: black;
	
}