/* Empty. Add your own CSS if you like */


.hidden {
	display: none;
}

.clear {
	clear: both;	
}

.card .item-divider.item-icon-right .icon span {
	font-size : 0.6em;
}

.container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.centered{
    margin: 0 auto;
}
